<% @title = t('.title')  %>
<% @meta_description = t('.meta_description') %>

<%= content_for :header do %>
  <h1><%= t '.title_with_video' %></h1>
<% end -%>


<div id="insert_controls" class="row"></div>
<div class='row' id="people_with_clips">
  <div class="span12">    
    
    <ul class="thumbnails sortable_thumbs">
      <% @people_with_images.each do |person| %>        
        <li class="span2 sortable_thumb">
        <%= link_to(person, :class => :thumbnail) do %>
          <%= kinney_image_small(person.image, person) %>
            <div class="caption">
              <div>
                <%= person.first_name %> <%= person.middle_name %> <span class="last_name"><%= person.last_name %></span><%= ', ' + person.name_suffix if !person.name_suffix.blank? %>
              </div>
              <span class="grad_class"><%= person.graduating_class %></span>
            </div>
        <% end -%>
        </li>
      <% end -%>
    </ul>
  </div>
</div>


<div class="row">
  <div class="span12">
    <h2><%= t '.title_other_profiles' %></h2>
  </div>
  <div class="span4" id="people_no_clips">
    <table class="tablesorter table">
      <thead>
        <tr>
          <th><%= t '.table_name' %></th>
          <th><%= t '.table_class_of' %></th>
        </tr>
      </thead>
      <tbody>
        <% @people_without_images.each do |person| %>
        <tr>
          <td>
            <%= link_to person do %>
              <%= person.first_name %> <%= person.middle_name %> <span><%= person.last_name %></span>
              <% if person.clips.length > 0 %>
                <i class="icon-play"></i>
              <% end -%>
            <% end -%>
          </td>
          <td><%= person.graduating_class %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
