<%= content_for :header do %>
  <div class="row">
    <div class="col-md-8 offset2">
      <h1 itemprop="name"><%= @person.full_name %></h1>
    </div>
  </div>
<% end -%>

<div class='row' itemscope itemtype="http://schema.org/Person" itemref="header currently">

  <span itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
    <%# FIXME: make more abstract %>
    <meta itemprop="name" content="North Carolina State University">
  </span>

  <div>

    <div class="col-md-8 offset2">
      <div class="clearfix">
        <% if !@top_image.blank? %>
          <%= link_to(@top_image.external_url, :class => [:thumbnail, :image_modal_trigger], :'data-target'=>"#modal_image_top_pick", :id => "image_top_pick") do %>
            <%= kinney_image_small(@top_image) %>
          <% end -%>
          <%= render :partial => '/kinney/images/image_modal', :locals => {:index => 'top_pick', :person => @person, :image => @top_image} %>
        <% end -%>
        <div id="bio" itemprop="description">
          <%= raw @person.biography %>
        </div>
      </div>

      <%= render partial: 'person_show_view_clips' %>

      <%= render 'person_images' %>

    </div>
  </div><!-- description -->
</div><!-- person -->

<div class="row">
  <div class="col-md-8 offset2" id="profile_info">
    <%= render 'profile' %>
    <%= render 'map' %>


  </div>
</div>



