<div class="navbar navbar-default" role="navigation" id="global_nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Kinney', kinney.root_path, :class => 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse navbar-1-collapse">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if controller?('kinney/clips') %>">
        <%= link_to 'Videos', kinney.clips_path %>
      </li>
      <li class="dropdown <%= 'active' if controller?('kinney/topics') %>">
        <%= link_to(kinney.topics_path, :class=> "dropdown-toggle", :'data-toggle' => :dropdown,
          :'data-target' => '#') do %>
          Topics <b class="caret"></b>
        <% end -%>
        <ul class="dropdown-menu" id="topics_nav">
          <% @navigation_topics.each do |topic| %>
            <%= content_tag('li', :class => topic_li_class(topic)) do %>
              <%= link_to topic.name, topic %>
            <% end -%>
          <% end -%>
        </ul>
      </li>
      <li class="<%= 'active' if controller?('kinney/people') %>">
        <%= link_to 'People', kinney.people_path %>
      </li>
      <li class="<%= 'active' if action?('about') %>">
        <%= link_to 'About', kinney.about_path %>
      </li>
    </ul>
    <%= render '/kinney/search_form' %>
  </div>
</div>