<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= meta_description %>
  <%= yield :facebook_ogp %>
  <%= render '/layouts/kinney/google_analytics' %>
  <%= render_extra_head_content %>
</head>
<body class="<%= params[:controller].gsub('/', '_') %>" id="<%= "#{params[:controller].gsub('/', '_')}_#{params[:action]}" %>">
  <%= yield :social_setup %>

  <%= render '/layouts/kinney/brand_above_navbar' %>
  <%= render '/layouts/kinney/navbar' %>
  <%= render '/layouts/kinney/brand_below_navbar' %>

  <div id="page_container">


    <section id="page">
      <div class="container">

        <% if content_for?(:header) %>
          <header id="header">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <%= yield :header %>
                </div>
              </div>
            </div>
          </header>
        <% end -%>


        <%#= render '/layouts/kinney/messages' if !flash.blank? %>
        <%= yield %>
      </div>
    </section>

    <% if content_for?(:catch) %>
      <section id="catch">
        <%= yield :catch  %>
      </section>
    <% end -%>

    <%= render '/layouts/kinney/footer' -%>

  </div>
</body>
</html>


