<%= content_for :header do %>
  <h1><%= @topic.name %></h1>
  <p><%= @topic.description %></p>
<% end -%>

<div class="row">
  <div id="clips">
    <% @topic.clips.each_slice(3) do |topic_clips| %>
      <% topic_clips.each do |clip| %>
        <div class="col-md-4 <%= cycle('left', 'middle', 'right') %>">
          <%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %>
        </div>
      <% end -%>
    <% end -%>
  </div>
</div>



