<% @title = t('.title') %>
<% @meta_description = t('.meta_description') %>

<%= content_for :header do %>
  <div class="row">
    <div class="span12">
      <h1><%= t '.title' %></h1>
    </div>
  </div>
<% end -%>

<div class='row' id="insert_controls"></div>

<div class="row" id="clip_profiles">
  <ul class="thumbnails sortable_thumbs">
    <% @people.each do |person| %>
      <li class="span4 sortable_thumb">
        <div class="thumbnail">     
         
          <%= link_to person.clips.first, :class => :thumbnail_video do %>    
            <div class="thumbnail_image">            
              <div class="mejs-overlay-button"></div>
              <%= image_tag person.clips.first.png, :alt => person.clips.first.title %>            
            </div>
          <% end -%>

          <h5><%= person.first_name %> <%= person.middle_name %> <span class="last_name"><%= person.last_name %></span><%= ', ' + person.name_suffix if !person.name_suffix.blank? %> <span class="grad_class"><%= "(#{person.graduating_class})" if !person.graduating_class.blank? %></span></h5>
          <ul>
            <% person.clips.each do |clip| %>
              <li><%= link_to clip.title, clip, :rel => :tooltip, :'data-original-title' => clip.description %> <%= "(#{clip.duration_pretty})" if !clip.duration.blank? %></li>
            <% end -%>
          </ul>
        </div>
      </li>
    <% end -%>
  </ul>
</div>

