<% @title = @clip.title_and_full_people_names %>

<%= render :partial => '/layouts/kinney/social_setup' %>

<%= content_for :header do %>
  <h1><span itemprop="name"><%= @clip.title %></span><br>
    <% @clip.people.each do |person| %>
      <%= link_to person.full_name, person %><br>
    <% end -%>
  </h1>
<% end -%>

<div class="row" itemscope itemtype="http://schema.org/VideoObject" itemref="header">

  <meta itemprop="contentUrl"   content="<%= @clip.mp4 %>"/>
  <% if !@clip.duration.blank? %>
    <meta itemprop="duration"     content="<%= @clip.duration_iso8601 %>" />
  <% end -%>
  <meta itemprop="thumbnailUrl" content="<%= @clip.png %>" />
  <meta itemprop="uploadDate"   content="<%= @clip.created_at %>" />
  <meta itemprop="height"       content="272" />
  <meta itemprop="width"        content="480" />


  <div class="span8">
    <%= render :partial => '/kinney/video', :locals => {:clip => @clip} %>
    <div class="row">
      <div class="span6"
        <p itemprop="description"><%= @clip.description %> <%= t('.interview_on', :date => @clip.interview_date.to_formatted_s(:long)) if !@clip.interview_date.blank? %> <%= duration_pretty(@clip) %></p>
      </div>
      <div class="span2">
        <%= download_button(@clip) %>
      </div>
    </div>
    <div class="row" id="social">
      <div class="span8">
        <%= render '/layouts/kinney/social_like' %>
      </div>
    </div>

    <%= render '/kinney/webvtt' %>

  </div>


  <div class="span4" id="related_people">    
    
    <% if !@people_clips.blank? %>
      <ul class="nav nav-tabs nav-stacked" id="person_videos">
        <% @people_clips.each do |clip| %>
          <% if @clip != clip %>
            <li>
              <%= link_to(clip, clip.video_switcher_params) do %>
                <i class="icon-play"></i> <span class="title"><%= clip.title %> <%= duration_pretty(clip) %></span>
              <% end -%>
            </li>
          <% end -%>
        <% end -%>
      </ul>
    <% end -%>

    <ul class="thumbnails">
      <% @clip.people.each do |person| %>
        <li class="span2 person">
          <%= render :partial => '/kinney/people/person_read_more', :locals => {:person => person} %> 
        </li>        
      <% end -%>      
    </ul>   
  </div>
</div>



<%= content_for :catch do %>
  <% if !@topic_clips.blank? %>
    <div class="container">
      <div class="row">
        <div class="span12" id="topic_clips">
          <h2>More Video</h2>          
          <% @topic_clips.each_slice(4) do |topic_clips| %>    
            <ul class="thumbnails">          
              <% topic_clips.each do |topic_clip| %>
                <% if topic_clip %>
                  <li class="span3 <%= cycle('odd', 'even') %>">
                    <%= render :partial => '/kinney/clip_link', :locals => {:clip => topic_clip} %>
                  </li>
                <% end -%>
              <% end -%>         
            </ul>      
          <% end -%>
        </div>
      </div>
    </div>
  <% end -%>
<% end -%>