<% @title = @clip.title_with_full_people_names %>

<%= render :partial => '/layouts/kinney/social_setup' %>

<%= render_title_above_video_on_show_view(@clip) %>

<div class="row" itemscope itemtype="http://schema.org/VideoObject" itemref="header">

  <meta itemprop="contentUrl"   content="<%= request.base_url + @clip.mp4 %>"/>
  <% if !@clip.duration.blank? %>
    <meta itemprop="duration"     content="<%= @clip.duration_iso8601 %>" />
  <% end -%>
  <meta itemprop="thumbnailUrl" content="<%= request.base_url + @clip.png %>" />
  <meta itemprop="uploadDate"   content="<%= @clip.created_at %>" />
  <meta itemprop="height"       content="272" />
  <meta itemprop="width"        content="480" />


  <div class="col-md-8">
    <%= render :partial => '/kinney/video', :locals => {:clip => @clip} %>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'clip_metadata' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= download_button(@clip) %>
      </div>
    </div>
    <div class="row" id="social">
      <div class="col-md-12">
        <%= render '/layouts/kinney/social_like' %>
      </div>
    </div>
    <%= render '/kinney/webvtt' %>
    <%= render partial: 'last_under_video' %>
  </div>


  <div class="col-md-4">
    <%= render 'clip_show_view_right_sidebar' %>
  </div>
</div>



<%= content_for :catch do %>
  <% if !@topic_clips.blank? %>
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="topic_clips">
          <h2>More Video</h2>
          <% @topic_clips.each do |topic_clip| %>
            <% if topic_clip %>
              <div class="col-md-3 col-sm-3 col-xs-6 <%= cycle('odd', 'even', name: :odd_even) %> <%= cycle('first', 'second', 'third', 'fourth', name: :ordinal) %>">
                <%= render :partial => '/kinney/clip_link', :locals => {:clip => topic_clip} %>
              </div>
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  <% end -%>
<% end -%>