<% @title = @clip.title %>

<%= render :partial => '/layouts/kinney/social_setup' %>

<%= content_for :header do %>
  <h1><span itemprop="name"><%= @clip.title %></span></h1>
  <h2>
    <% @clip.people.each do |person| %>
      <%= link_to person.full_name, person %>
    <% end -%>
  </h2>
<% end -%>

<div class="row" itemscope itemtype="http://schema.org/VideoObject" itemref="header">

  <meta itemprop="contentUrl"   content="<%= @clip.mp4 %>"/>
  <% if !@clip.duration.blank? %>
    <meta itemprop="duration"     content="<%= @clip.duration_iso8601 %>" />
  <% end -%>
  <meta itemprop="thumbnailUrl" content="<%= @clip.png %>" />
  <meta itemprop="uploadDate"   content="<%= @clip.created_at %>" />
  <meta itemprop="height"       content="272" />
  <meta itemprop="width"        content="480" />


  <div class="span8">
    <%= render :partial => '/kinney/video', :locals => {:clip => @clip} %>
    <div class="row">
      <div class="span6"
        <p itemprop="description"><%= @clip.description %> <%= t('.interview_on', :date => @clip.interview_date.to_formatted_s(:long)) if !@clip.interview_date.blank? %> <%= duration_pretty(@clip) %></p>
      </div>
      <div class="span2">
        <%= download_button(@clip) %>
      </div>
    </div>
    <div class="row-fluid" id="social">
      <div class="span12">
        <%= render '/layouts/kinney/social_like' %>
      </div>
    </div>

    <%= render '/kinney/webvtt' %>

  </div>


  <div class="span4" id="related_people">    
    <% @clip.people.each do |person| %>
      <div class="person_video">
        <%= render :partial => '/kinney/people/person_clips', :locals => {:person => person, :current_clip => @clip} %>
      </div>
    <% end -%>
    <ul class="thumbnails">
      <% @clip.people.each do |person| %>
        <li class="span2 person">
          <%= render :partial => '/kinney/people/person_read_more', :locals => {:person => person} %> 
        </li>        
      <% end -%>      
    </ul>   
  </div>
</div>



<%= content_for :catch do %>
  <% if !@topic_clips.blank? %>
    <div class="container">
      <div class="row">
        <div class="span12" id="topic_clips">
          <h2>More Video</h2>
          <ul class="thumbnails">
            <% @topic_clips.each do |clip| %>
              <li class="span3 <%= cycle('odd', 'even') %>"><%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %></li>
            <% end -%>
          </ul>  
        </div>
      </div>
    </div>
  <% end -%>
<% end -%>