<%= link_to(clip, clip.video_switcher_params.merge(:class => [:thumbnail, :thumbnail_video])) do %>
  <div class="thumbnail_image">
    <div class="mejs-overlay-button"></div>
    <%= image_tag clip.png, :alt => clip.title %>
  </div>
  <div class="caption">
    <div class="name"><%= clip.full_people_names %></div>
    <span class="title"><%= clip.title %></span> <%= duration_pretty(clip) %>
  </div>
<% end -%>