<% if @webvtt %>
  
  <h2><%= t 'kinney.transcript.title' %></h2>
  <%#= vtt_button(@clip) %>
  <table class="table table-striped" id="transcript_table">
    <thead>
      <tr>
        <th><%= t 'kinney.transcript.text' %></th>
        <th><%= t 'kinney.transcript.timestamp' %></th>
      </tr>
    </thead>
    <tbody>
      <% @webvtt.cues.each do |cue| %>
        <tr>
          <td><%= cue.text %></td>
          <td><%= link_to cue.start, '', :class => 'transcript_jump', :'data-video-jump-time' => jump_time(cue.start) %> - <%= cue.end %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
    
<% end -%>