<% @title = t('kinney.pages.add_your_story.title') %>
<% @meta_description = t('kinney.pages.add_your_story.meta_description') %>

<%= content_for :header do %>
  <h1><%= t 'kinney.pages.add_your_story.title' %></h1>
  <%= render '/kinney/pages/add_your_story_text' %>
<% end -%>

<div class="row">
  <div class="span10">
    <%= semantic_form_for @message, :url => contact_path, 
      :builder => FormtasticBootstrap::FormBuilder do |f| %>
      <%= f.inputs do %>
        <%= f.input :name %>
        <%= f.input :graduating_class, :as => :number %>
        <%= f.input :email, :as => :email %>
        <%= f.input :comment, :as => :text, :input_html => {:rows => 5} %>
      <% end -%>
      <%= f.actions do %>
        <%= f.action(:submit, :button_html => {:class => 'btn'}) %>
      <% end -%>
    <% end -%>
  </div>
</div>

<%= render '/kinney/contact' %>


