<% @title = t('kinney.pages.add_your_story.title') %>
<% @meta_description = t('kinny.pages.add_your_story.meta_description') %>

<%= content_for :header do %>
  <div class="row">
    <h1><%= t 'kinney.pages.add_your_story.title' %></h1>
    <p><%= t 'kinney.pages.add_your_story.text' %>
    </p>
  </div>
<% end -%>

<div class="row">
  <%= semantic_form_for @message, :url => contact_path, :html => {:class => 'well'},
    :builder => FormtasticBootstrap::FormBuilder do |f| %>
    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :graduating_class, :as => :number %>
      <%= f.input :email, :as => :email %>
      <%= f.input :comment, :as => :text, :input_html => {:rows => 5} %>
    <% end -%>
    <%= f.buttons do %>
      <%= f.commit_button :button_html => {:class => 'btn'} %>
    <% end -%>
  <% end -%>
</div>

<%= render '/kinney/contact' %>


