<% @meta_description = t('kinney.pages.home.meta_description') %>

<%= render '/kinney/pages/home_header' %>

<div class="row">
  <div class="span9">
    <div class="well" id="featured_clip"> 
      <h2><%= t 'kinney.pages.home.featured_story' %></h2>
      <% if @featured_clip %>
        <h3><%= @featured_clip.title %></h3>
        <%#= render :partial => '/video', :locals => {:person => @person, :clip => @clip} %>
        
        <%= link_to(@featured_clip, :class => [:thumbnail_video], :id => :featured_video_link) do %>
          <div id="home_video_image">
            <div class="mejs-overlay-button"></div>
            <%= image_tag @featured_clip.png, :alt => @featured_clip.title %>
          </div>
          
        <% end -%>

        <h3><%= t 'kinney.pages.home.profile_of', :name => @person.full_name %></h3>
        <%= raw @person.short_bio %>
        <%= link_to(@person, :class=> "btn") do %>
          <%= t 'kinney.pages.home.see_all_videos_button', :name => @person.last_name %> <i class='icon-arrow-right'></i>
        <% end -%>
      <% else -%>
        <p>You currently have no featured clip. Go to the admin interface and create or select a featured clip.</p>
      <% end -%>
  
      <div class="clearfix"></div>
    </div>
  </div>  
  
  <div class="span3">
    <%= render '/kinney/search_form' %>
    <div id="topics">
      <%= render '/kinney/video_topics'%>
    </div>
  </div>
  
</div>

<%= render '/kinney/action_buttons' %>

<div class="row">
  <div class="span12" id="more_clips">
    <h2><%= link_to t('kinney.more.video'), clips_path %></h2>
    <ul class="thumbnails">
      <% @top_pick_clips.each do |clip| %>
        <li class="span3">
           <%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
      
    
