<% @meta_description = t('kinney.pages.home.meta_description') %>

<%= render '/kinney/pages/home_header' %>

<div class="row">
  <div class="span9">
    <div class="well" id="featured_clip"> 
      <h2><%= t 'kinney.pages.home.featured_story' %>: <span class="subtitle"><%= @featured_clip.title if @featured_clip %></span></h2>
      <% if @featured_clip %>
        <%#= render :partial => '/video', :locals => {:person => @person, :clip => @clip} %>
        
        <%= link_to(@featured_clip, :class => [:thumbnail_video], :id => :featured_video_link) do %>
          <div id="home_video_image">
            <div class="mejs-overlay-button"></div>
            <%= image_tag @featured_clip.png, :alt => @featured_clip.title %>
          </div>
          
        <% end -%>

        <h3><%= t 'kinney.pages.home.profile_of', :name => @person.full_name %></h3>
        <%= raw @person.short_bio %>
        <%= link_to(@person, :class=> "btn") do %>
          <%= t 'kinney.pages.home.see_all_videos_button', :name => @person.last_name %> <i class='icon-arrow-right'></i>
        <% end -%>
      <% else -%>
        <p>You currently have no featured clip. Go to the admin interface and create or select a featured clip.</p>
      <% end -%>
  
      <div class="clearfix"></div>
    </div>
  </div>  
  
  <div class="span3">
    <%= render '/kinney/pages/home_right_sidebar' %>
  </div>
  
</div>

<% content_for :catch do -%>
<div class="container">
  <div class="row">
    <div class="span6" id="more_clips">
      <h2><%= link_to t('kinney.more.video'), clips_path %></h2>
      <ul class="thumbnails">
        <% @top_pick_clips.each do |clip| %>
          <li class="span3 <%= cycle("odd", "even") -%>">
             <%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %>
          </li>
        <% end -%>
      </ul>
    </div>
    <div class="span5 offset1" id="more_people">
      <h2><%= link_to t('kinney.more.people'), people_path %></h2>
      <ul class="thumbnails">
        <% @people.each do |person| %>
          <li class="span5">
             <%= render :partial => '/kinney/people/person_read_more', :locals => {:person => person} %>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>
<% end -%>
      
    
