<% @title = t('.title') %>

<%= content_for :header do %>
  <h1><%= t '.title' %></h1>
<% end -%>

<div class="row">
  <div class="span12">
    <%- if params[:q].blank? -%>

    <%- else -%>
      You searched for <b><%= params[:q] %></b>.
      <%= link_to t('kinney.search.clear'), search_path , :class => :btn if defined?(@clips) %> 
    <% end -%>
  </div>  
</div>

<div class="row">
  <div class="span8" id="clips">
    <h2><%= t '.clips' %></h2>

    <% if @fallback_clips %>
      <div class="alert">
        <%= t '.no_clips_match_message' %>
      </div>
    <% end -%>
    <% if @query.blank? %>
      <div class="alert alert-success">
        <%= t '.no_current_search_clips_message' %>
      </div>
    <% end -%>
    
    <% @clips.each_slice(2) do |sliced_clips| %>
      <ul class="thumbnails">
        <% sliced_clips.each do |clip| %>
          <li class="span4 <%= cycle('odd', 'even') %>">
             <%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %>
          </li>
        <% end -%>
      </ul>
    <% end -%>
    
  </div>

  <div class="span4" id="people">
    <div class="well">
      <h2>People</h2>
      <% if @fallback_people %>
        <div class="alert">
          <%= t '.no_people_match_message' %>
        </div>
      <% end -%>
      <% if @query.blank? %>
        <div class="alert alert-success">
          <%= t '.no_current_search_people_message' %>
        </div>
      <% end -%>
      <ul class="nav nav-tabs nav-stacked">
        <% @people.each do |person| %>
          <li>
             <%= link_to person.full_name, person %>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>