<% @title = t('.title') %>

<%= content_for :header do %>
  <h1><%= t '.title' %></h1>
<% end -%>

<div class="row">
  <div class="span8" id="clips">
    <h2><%= t '.clips' %></h2>

    <% if @fallback_clips %>
      <div class="alert">
        <%= t '.no_clips_match_message' %>
      </div>
    <% end -%>
    <% if @query.blank? %>
      <div class="alert alert-success">
        <%= t '.no_current_search_clips_message' %>
      </div>
    <% end -%>
    <ul class="thumbnails">
      <% @clips.each do |clip| %>
        <li class="span4">
           <%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %>
        </li>
      <% end -%>
    </ul>
  </div>

  <div class="span4" id="people">
    <div class="well">
      <h2>People</h2>
      <% if @fallback_people %>
        <div class="alert">
          <%= t '.no_people_match_message' %>
        </div>
      <% end -%>
      <% if @query.blank? %>
        <div class="alert alert-success">
          <%= t '.no_current_search_people_message' %>
        </div>
      <% end -%>
      <ul class="thumbnails">
        <% @people.each do |person| %>
          <li class="span4">
             <%= link_to person.full_name, person %>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>