<% @title = t('.title') %>

<%= content_for :header do %>
  <h1><%= t '.title' %></h1>
<% end -%>

<div class="row">
  <div class="col-md-12">
    <%- if params[:q].blank? -%>

    <%- else -%>
      You searched for <b><%= params[:q] %></b>.
      <%= link_to t('kinney.search.clear'), search_path , :class => [:btn, 'btn-default' ] if defined?(@clips) %>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-sm-8" id="clips">
    <h2><%= t '.clips' %></h2>

    <% if @fallback_clips %>
      <div class="alert alert-warning">
        <%= t '.no_clips_match_message' %>
      </div>
    <% end -%>
    <% if @query.blank? %>
      <div class="alert alert-success">
        <%= t '.no_current_search_clips_message' %>
      </div>
    <% end -%>

    <div class="row">
    <% @clips.each_slice(2) do |sliced_clips| %>
      <div class="thumbnails">
        <% sliced_clips.each do |clip| %>
          <div class="col-xs-6 col-sm-6 col-md-6 <%= cycle('odd', 'even') %>">
             <%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %>
          </div>
        <% end -%>
      </div>
    <% end -%>
    </div>

  </div>

  <div class="col-xs-12 col-sm-4 col-md-4 " id="people">
    <h2>People</h2>
    <% if @fallback_people %>
      <div class="alert alert-warning">
        <%= t '.no_people_match_message' %>
      </div>
    <% end -%>
    <% if @query.blank? %>
      <div class="alert alert-success">
        <%= t '.no_current_search_people_message' %>
      </div>
    <% end -%>
    <div class="list-group">
      <% @people.each do |person| %>
        <%= link_to person.full_name, person, class: 'list-group-item' %>
      <% end -%>
    </div>
  </div>

</div>