<h1><%= t '.title', :filename => @clip.filename %></h1>

<p><%= t '.x' %></p>
<p><%= t '.y' %></p>

<%= render :partial => 'video_engagement_chart' %>

<div class="row">
  <div class="span6">
    <%= render :partial => '/kinney/video', :locals => {:clip => @clip} %>
  </div>
  <div class="span6" id="current_time"><p></p>
  </div>
</div>

<%= @all_seconds.sort.inspect %><br>
<%= @temp_seconds.inspect %><br>
<%= @seconds.to_json %>
