<h1><%= t '.title', :filename => @clip.filename %></h1>

<p><%= t '.x' %></p>
<p><%= t '.y' %></p>

<%= render :partial => 'video_engagement_chart' %>

<div id="video_and_time">
  <div class="video">
    <%= render :partial => '/kinney/video', :locals => {:clip => @clip} %>
  </div>
  <div id="current_time"><p></p>
  </div>
</div>

<div id="debugging">
<%= @all_seconds.sort.inspect %><br>
<%= @temp_seconds.inspect %><br>
<%= @seconds.to_json %>
</div>
